html
{
    font-family: cursive;
}


h1
{
    text-transform: uppercase;
    font-size: 30px;
}

a
{
    text-decoration: none;
    background-color: color-mix(in srgb, rgb(56, 140, 236) 50%, white 50%);
    border-radius: 20px;
    padding: 4px;
    color: black;

    
}
body
{
    padding: 20px;
    margin: 20px;
    
}
fieldset
{
    margin-top: 22px;
}


                                                            /* Formulario */


input
{
    margin-top: 4px;
    border-radius: 7px;
    border-top: none;
}

button
{
    margin-top: 4px;
    background-color: rgb(118, 186, 241);
    border: 1px solid black;
    border-radius: 10px;
}

table
{
    margin-left: 27%;
    border: 2px solid black;
    
}
form
{
    font-family: cursive;
    width: 270px;

}







a:hover
{
    opacity: 0.8;
}

p::first-letter
{
    text-transform: uppercase;
}

a:hover
{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-align: center;
}

img
{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 400px;
}

tbody
{
    text-align: center;
    
}

th
{
    background-image:linear-gradient(to Right, rgb(84, 167, 235), rgb(171, 172, 248));
}
th,td
{
    border: 2px solid black;
}
caption
{
    font-weight: bold;
}



                                                            /* IDs */



#abrir
{
    
    height: 30px;
    border:0.5px;
    
}
#sumario
{
    background-image: linear-gradient(to Right, rgb(84, 167, 235), rgb(171, 172, 248) );
    margin-bottom: 15px;
    border: 2px solid black;
    border-bottom:none;
    
}
#primary-list
{
    list-style: none;
    text-align: center;
}

#email
{
    margin-left: 14px;
}

#Nome
{
    margin-left: 12px;
}



                                                                    /* Class */

.header-tvs
{
     background-image: linear-gradient(to Right, rgb(84, 167, 235), rgb(171, 172, 248) );
     background-repeat: no-repeat;
     background-size: cover;
     height: 100px;
     margin-top: -60px;
     margin-right: -60px;
     margin-left: -60px;
}
.details
{
    text-align: center;
}



.banner
{
    text-align: center;
    background-image:url(./images/tvs\ 3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100px;
    padding: 50px;
    margin-top: -60px;
    margin-right: -60px;
    margin-left: -60px;
    
}

.hide
{
    display: none;
}

.nav
{
    position: sticky;
    top: 0;
    z-index: 3;
}
.details
{
    text-align: center;
    
    
}



.answer
{
    margin-top: -15px;
    border:2px solid black;
    border-top: none;
    border-radius: 3.7px;
}






