h1
{
    text-transform: uppercase;
    font-size: 30px;
}

a
{
    text-decoration: none;
    background-color: color-mix(in srgb, rgb(56, 140, 236) 50%, white 50%);
    border-radius: 20px;
    padding: 4px;
    color: black;

    
}
body
{
    padding: 20px;
    margin: 20px;
    
}
fieldset
{
    margin-top: 22px;
}
input
{
    margin-top: 4px;
}
#sumario
{
    background-image: linear-gradient(to Right, rgb(84, 167, 235), rgb(171, 172, 248) );
    margin-bottom: 15px;
    border-color: black;
}
a:hover
{
opacity: 0.8;
}

.details
{
    text-align: center;
}
p::first-letter
{
    text-transform: uppercase;
}

a:hover
{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    text-align: center;
}

#primary-list
{
    list-style: none;
    text-align: center;
}

tbody
{
    text-align: center;
    
}
img
{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 400px;
}

.banner
{
    text-align: center;
    background-image:url(./images/tvs\ 3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 50px;
    
}

.hide
{
    display: none;
}

.nav
{
    position: sticky;
    top: 0;
    z-index: 3;
}
.details
{
    text-align: center;
    
    
}





